<style>
    table#wpefc_transaction {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
    }
    #wpefc_transaction td{
        padding: 10px 5px;
        text-align: center;
    }
    #wpefc_transaction tbody tr{
        border-bottom: 1px solid #ddd;
        transition: 0.3s;
    }
    #wpefc_transaction thead{
        line-height: 30px;
        font-weight: bold;
        border-bottom: 1px solid #888;
        background: linear-gradient(to right, #00edcd, #00c1ca);
        color: #fff;
    }
    .failed-transactions #wpefc_transaction thead {
        background: linear-gradient(to right, #d5280c, #b7004c);
    }
    .wpefc_transaction_btn{
        padding: 7px 15px;
        text-decoration: none;
        background: #ffffff40;
        border-radius: 3px;
        margin-left: 20px;
        transition: .3s;
        border: 1px solid #ffffff00;
    }
    .wpefc_transaction_btn:hover{
        background: #ffffff00;
        border: 1px solid #aaa;
    }
    #wpbody-content > div:not(.clear){
        background: #FFF;
        padding: 24px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin: 0 auto 38px;
        width: 90%;
        margin-top: 40px;
    }
    .failed-transactions ul li:last-child a.wpefc_transaction_btn {
        background: linear-gradient(to right, #d5280c, #b7004c) !important;
        color: #fff;
    }
    .success-transactions ul li:first-child a.wpefc_transaction_btn {
        background: linear-gradient(to right, #25c481, #25b7c4) !important;
        color: #fff;
    }
    .payro24-log {
        margin: 0px auto;
        line-height: 15px;
        text-align: center;
        width: 100%;
        border-collapse: collapse;
    }
    table.payro24-log td {
        border: 1px solid #ddd;
        color: #444 !important;
        padding: 5px;
    }
    table.payro24-log th {
        color: #fff;
    }
    table.payro24-log thead tr {
        line-height: 40px;
        background: linear-gradient(to right, #00edcd, #00c1ca);
    }
    table.payro24-log.failed-log thead tr {
        background: linear-gradient(to right, #d5280c, #b7004c);
    }
    .back-button {
        margin: auto !important;
        display: block !important;
        width: 150px;
        text-align: center;
        line-height: 40px !important;
    }
    .update-nag,.notice,.media-upload-form .notice, .media-upload-form div.error, .wrap .notice, .wrap div.error, .wrap div.updated{display: none !important;}
</style>